Repository DouglasdeMoura/fastify-ts-starter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, test

biome:
  run: biome check --apply --staged

test:
  run: vitest related --run

ci: release v2024.8.9
  package-lock.json
  package.json
Due: biome

chore: add instructions to install git hooks
  README.md
Due: none

ci: release v2024.8.10
  package-lock.json
  package.json
Due: biome

chore: add loginfo when close signal is sent to the application
  src/index.ts
Due: biome, test

chore: change license to MIT
  package.json
Due: biome

feat: add global error handler
  src/index.ts
Due: biome, test

ci: release v2024.8.11
  package-lock.json
  package.json
Due: biome

chore: add commitlint configuration
  commitlint.config.js
  lefthook.yml
  package-lock.json
  package.json
Due: biome, test

chore: run 'npm audit fix'
  package-lock.json
Due: biome

ci: release v2024.9.0
  package-lock.json
  package.json
Due: biome

ci: release v2024.9.1
  package-lock.json
  package.json
Due: biome

ci: release v2024.9.2
  package-lock.json
  package.json
Due: biome

ci: release v2024.9.3
  package-lock.json
  package.json
Due: biome

chore: fix commands that run on CI
  .release-it.json
  package.json
Due: biome

ci: release v2024.9.4
  package-lock.json
  package.json
Due: biome

chore: add instructions to start your own Fastify project from this template
  README.md
Due: none

ci: release v2024.9.5
  package-lock.json
  package.json
Due: biome

chore: update README
  README.md
Due: none

ci: release v2024.9.6
  package-lock.json
  package.json
Due: biome

ci: release v2024.9.7
  package-lock.json
  package.json
Due: biome

ci: release v2024.9.8
  package-lock.json
  package.json
Due: biome

chore: update some dependencies to the latest version
  package-lock.json
  package.json
Due: biome

chore: ugrade dependencies
  package-lock.json
  package.json
Due: biome

chore: run npm audit fix
  package-lock.json
Due: biome

fix: import the correct type
  src/config/plugins/sensible.ts
Due: biome, test

ci: release v2024.10.0
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.1
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.2
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.3
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.4
  package-lock.json
  package.json
Due: biome

chore: set LTS version on .node-version for development
  .node-version
Due: none

ci: release v2024.10.5
  package-lock.json
  package.json
Due: biome

feat: add recommended extensions
  .vscode/extensions.json
Due: biome

ci: release v2024.10.6
  package-lock.json
  package.json
Due: biome

feat: install Wireit
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
  tsconfig.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  test: any of: *.{js,ts,jsx,tsx}
