Repository DouglasdeMoura/fastify-ts-starter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, test

biome:
  run: npx biome check --write --staged {staged_files}

test:
  run: npx vitest related {staged_files} --run

fix(healthcheck): use correct http.request option name
  src/config/healthcheck.ts
Due: biome, test

feat(template): add DX improvements for starter template
  .env.example
  package-lock.json
  package.json
  src/config/app.ts
  src/config/environment.ts
  src/config/plugins/cors.ts
  src/config/plugins/error-handler.ts
  src/config/plugins/helmet.ts
  src/config/plugins/openapi.ts
  src/config/plugins/request-context.ts
  src/config/plugins/support.ts
  src/errors/app-error.ts
  src/index.ts
  src/routes/users/index.ts
  src/schemas/error.ts
  test/plugins/request-context.test.ts
  test/plugins/support.test.ts
  test/routes/users.test.ts
  vitest.config.ts
Due: biome, test

chore: disable branches coverage for now
  vitest.config.ts
Due: biome, test

ci: release v2026.1.2
  package-lock.json
  package.json
Due: biome

refactor: remove deprecated Zod configuration
  src/routes/users/index.ts
Due: biome, test

docs: rewrite README with comprehensive onboarding guide
  README.md
Due: none

ci: release v2026.1.3
  package-lock.json
  package.json
Due: biome

docs: fix grammar error
  README.md
Due: none

ci: release v2026.1.4
  package-lock.json
  package.json
Due: biome

perf: optimize build output for smaller bundle size
  tsconfig.json
Due: biome

ci: release v2026.1.5
  package-lock.json
  package.json
Due: biome

fix: add test directory to Biome configuratio
  package.json
Due: biome

chore: lint and format code
  test/plugins/request-context.test.ts
  test/routes/example.test.ts
  test/routes/ping.test.ts
  test/routes/root.test.ts
Due: biome, test

chore: this is not a frontend project
  lefthook.yml
Due: none

docs: add Docker HEALTHCHECK documentation
  README.md
Due: none

ci: release v2026.1.6
  package-lock.json
  package.json
Due: biome

chore: simplify import path and build configuration
  package.json
Due: biome

ci: release v2026.1.7
  package-lock.json
  package.json
Due: biome

ci: release v2026.3.0
  package-lock.json
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  test: any of: *.{js,ts,jsx,tsx}
