Repository DouglasdeMoura/fastify-ts-starter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, test

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: npm audit

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx biome check --write --staged {staged_files}
    test:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx vitest related {staged_files} --run

ci: release v2024.10.7
  package-lock.json
  package.json
Due: biome

chore: run `npx taze -w` to upgrade dependencies
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.8
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.9
  package-lock.json
  package.json
Due: biome

feat: update to the latest Node.js LTS
  Dockerfile
Due: none

ci: release v2024.10.10
  package-lock.json
  package.json
Due: biome

ci: release v2024.10.11
  package-lock.json
  package.json
Due: biome

ci: release v2024.11.0
  package-lock.json
  package.json
Due: biome

ci: release v2024.11.1
  package-lock.json
  package.json
Due: biome

ci: release v2024.11.2
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.0
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.1
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.2
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.3
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.4
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.5
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.6
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.7
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.8
  package-lock.json
  package.json
Due: biome

ci: release v2025.2.9
  package-lock.json
  package.json
Due: biome

ci: release v2025.4.0
  package-lock.json
  package.json
Due: biome

ci: release v2025.4.1
  package-lock.json
  package.json
Due: biome

ci: release v2025.4.2
  package-lock.json
  package.json
Due: biome

ci: release v2025.4.3
  package-lock.json
  package.json
Due: biome

chore: update .node-version
  .node-version
Due: none

ci: release v2025.8.0
  package-lock.json
  package.json
Due: biome

ci: release v2025.10.0
  package-lock.json
  package.json
Due: biome

chore: upgrade Node.js version from 22 to 24
  .node-version
Due: none

chore(deps): update lockfile for Node.js 24
  package-lock.json
Due: biome

chore(deps): update dependencies to latest versions
  biome.json
  package-lock.json
  package.json
Due: biome

chore(deps): update zod and fastify-type-provider-zod to the latest versions
  package-lock.json
  package.json
  src/config/environment.ts
  src/index.ts
Due: biome, test

chore(node): update Node.js to version 24 on the container
  Dockerfile
Due: none

refactor: simplify dev logging by piping to pino-pretty
  package.json
  src/index.ts
Due: biome, test

refactor: replace tsc-alias with native Node.js subpath imports
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: biome, test

chore: update Node.js to latest LTS (24) on the workflows
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: none

refactor: do not run commitlint on dependabot PRs
  .github/workflows/pull-requests.yml
Due: none

ci: release v2026.1.0
  package-lock.json
  package.json
Due: biome

chore(undici): install security update
  package-lock.json
  package.json
Due: biome

chore(diff): install security update
  package-lock.json
  package.json
Due: biome

ci: release v2026.1.1
  package-lock.json
  package.json
Due: biome
